<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <div class="tab">
        <button class="tablinks" onclick="openPage(event, 'main')" id="defaultOpen">Politico</button>
        <button class="tablinks" onclick="openPage(event, 'vote')">Vote</button>
        <button class="tablinks" onclick="openPage(event, 'profile')">Profile</button>
        <button><a href="../index.html">Logout</a></button>
    </div>

    <div id="main" class="tabcontent">
        <div id="main-section">
            <h2>Welcome To Politico</h2>
            <p>Voting has never been this hassle free!</p>
            <span>
                <button class="btn" id="myBtn">Declare Interest to Run</button>
            </span>
            <span>
                <p>Countdown to next elections: <span id="timer"></span></p>
            </span>
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <h4>Interest Form</h4>
                <form method="POST">
                    <input type="text" name="run-office" placeholder="Enter Office of Interes">
                    <input type="text" name="run-party" placeholder="Enter Party">
                    <center>
                        <button type="submit" class="btn">SUBMIT</button>
                    </center>
                </form>
            </div>
        </div>
        <br/>

    <div id="parties">
        <h3>Featured Parties</h3>
        <hr width="20%">
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="../images/party1.png">
                    <p>Andela Party</p>
                    <p><em>Opportunities for everyone</em></p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="../images/party2.png">
                    <p>Eagle Party</p>
                    <p><em>Soaring high</em></p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="../images/party3.jpg">
                    <p>Winners Party</p>
                    <p><em>Winning is our hobby</em></p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="../images/party4.jpg">
                    <p>Democratic Party</p>
                    <p><em>Power belongs to the people</em></p>
                </div>
            </div>
            
            </div>              
        </div>
    </div>

    <div id="vote" class="tabcontent">

        <h3>Voting Section</h3>

        <hr width="20%">

        <form action="/" method="POST">
            <h4 id="presidential">Office of The President</h4>
            <table id="candidates-table">
                <tr>
                    <th>Party</th>
                    <th>Candidate</th>
                    <th>Vote</th>
                </tr>
                <tr>
                    <td>Andela Party</td>
                    <td>John Doe</td>
                    <td>
                        <input type="radio" name="presido">
                    </td>
                </tr>
                <tr>
                    <td>Winners party</td>
                    <td>Jane Doe</td>
                    <td>
                        <input type="radio" name="presido">
                    </td>
                </tr>
                <tr>
                    <td>Democratic party</td>
                    <td>Sambo Sadiq</td>
                    <td>
                        <input type="radio" name="presido">
                    </td>
                </tr>
            </table>

            <!-- prime minister -->
            <h4 id="prime-m">Office of The Prime Minister</h4>
            <table id="candidates-table">
                <tr>
                <th>Party</th>
                <th>Candidate</th>
                <th>Vote</th>
                </tr>
                <tr>
                <td>Andela</td>
                <td>Johnathan Doe</td>
                <td>
                    <input type="radio" name="primeM">
                </td>
                </tr>
                <tr>
                <td>Winners</td>
                <td>Janet Doe</td>
                <td>
                    <input type="radio" name="primeM">
                </td>
                </tr>
                <tr>
                <td>Democratic party</td>
                <td>Dr. Lorem Ipsum</td>
                <td>
                    <input type="radio" name="primeM">
                </td>
                </tr>
            </table>
            <table id="candidates-table">
                <tr>
                    <td>
                        <input type="submit" value="VOTE" class="btn" style="width: 100%"/>
                    </td>
                </tr>
            </table>
        </form>

        <hr/>

        <h3>Results</h3>
        <div id="results">
            <p>Results: </p>
        </div>
    </div>

    <div id="profile" class="tabcontent">
        <div class="row">
            <div class="side">
                <h2>About Me</h2>
                <div style="height:200px;">
                    <img src="../images/profile_placeholder.jpg" alt="display_pic" class="img">
                </div>
                <p>Name: John Doe</p>
                <p>Email: jdoe@mail.com</p>
                <p>Number: 08012345678</p>
            </div>
            <div class="main">
                <h2>My Votes</h2>
                <h4>Office of the President:</h4>
                <p>ABC Party | <span>John Doe</span></p>
                <h4>Office of the Prime Minister:</h4>
                <p>ABC Party | <span>John Wick</span></p>
                <hr>
                <h2>Dispute</h2>
                <h5>Have any complains? Fill this form</h5>
                <form action="" method="POST">
                    <label for="title">Title</label>
                    <input type="text" name="title" placeholder="Enter Title of Dispute">
                    <label for="text">Text</label>
                    <textarea name="text" placeholder="Enter Dispute"></textarea>

                    <input type="submit" value="SEND" class="btn">
                </form>
            </div>
        </div>
    </div>

    <script>
        function openPage(evt, pageLink) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(pageLink).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.querySelector("#defaultOpen").click();

        // modal
        let modal = document.querySelector('#myModal');
        let btn = document.querySelector("#myBtn");
        let span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        // countdown timer
        // date we're counting down to
        let countDownDate = new Date("Feb 16, 2019 00:00:00").getTime();

        let x = setInterval(function() {

        let now = new Date().getTime();
            
        let distance = countDownDate - now;
            
        // Time calculations for days, hours, minutes and seconds
        let days = Math.floor(distance / (1000 * 60 * 60 * 24));
        let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
        document.querySelector("#timer").innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";
            
            // for when the count down is over 
            if (distance < 0) {
                clearInterval(x);
                document.querySelector("#timer").innerHTML = "Check again in... 4 years!";
            }
        }, 1000);
    </script>
   
</body>
</html>